@font-face {
    font-family: 'liber';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/liber.ttf);
}

@keyframes btmove {

    0% {
        left: 40%;
        color: rgba(255, 255, 255, 0);
    }

    100% {
        left: 15.37%;
        color: rgba(255, 255, 255, 255);
    }
}

@keyframes lamove {
    0% {
        left: 40%;
        color: rgba(255, 255, 255, 0);
    }

    100% {
        left: 16.2%;
        color: rgba(255, 255, 255, 255);
    }
}

body {
    font-family: 'liber', sans-serif;

    background: url("assets/images/forest-background.png") no-repeat fixed;
    background-size: cover;
}

h1 {
    font-size: 200px;

    top: 17.6%;
    position: absolute;

    animation-name: btmove;
    animation-play-state: paused;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

a {
    font-size: 25px;

    top: 60.5%;
    position: absolute;

    animation-name: lamove;
    animation-play-state: paused;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
}